 ul{
    position: fixed;
 }
 li{
    display: inline-block;
    margin-left: 100px;
    color: blue;
    transition: color 0.3s;
    font-weight: bold;
    text-decoration: none;
    
   
    
}
li:hover{
    color: #ff9900;
}
body{
    justify-content: center;
    display: flex;
}